<html>
<head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js">
	
</script>
</head>
<body>

<br>
<table style="width:100%">
        <tr>
          <th> id</th>
          <th>name</th>
          <th>address</th> 
          <th>email</th>
          <th>contact</th>
          <th>gst</th>
        </tr>
        <%rows.forEach(function(company){%>
            <tr>    
                    <td><%=company.id%></td>
                    <td><%=company.name%></td>
                    <td><%=company.address%></td> 
                    <td><%=company.email%></td>
                    <td><%=company.contact%></td>
                    <td><%=company.gst%></td>
            </tr>
       <% }) %>

      </table>
<!-- <butto text="post" id="submit"></button> -->

</body>
</html>