<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Company master</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Name</label>  
  <div class="col-md-4 c">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input id="name" name="first_name" placeholder="Name" class="form-control"  type="text" readonly="readonly" value=<%= row.name %>>
    </div>
  </div>
  <div type="button" id="editname" class="btn btn-default" ><span class="glyphicon glyphicon-pencil"></span></div>
  <div type="button" id="undoname" class="btn btn-default" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></div>

</div>

<!-- Text input-->


<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" id="email" placeholder="E-Mail Address" class="form-control"  type="text" readonly="readonly" value=<%= row.email%>>
    </div>
  </div>
  <div type="button" id="editemail" class="btn btn-default" > <span class="glyphicon glyphicon-pencil"></span></div>
    <div type="button" id="undoemail" class="btn btn-default" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></div>

</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Phone #</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" id="contact" placeholder="(845)555-1212" class="form-control" type="text" readonly="readonly" value=<%= row.contact%>>
    </div>
  </div>
  <div type="button" id="editcontact" class="btn btn-default" > <span class="glyphicon glyphicon-pencil"></span></div>
    <div type="button" id="undocontact" class="btn btn-default" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></div>

</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Address</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" id="address" placeholder="Address" class="form-control" type="text" readonly="readonly" value=<%= row.address %>>
    </div>
  </div>
  <div type="button" id="editaddress" class="btn btn-default" > <span class="glyphicon glyphicon-pencil"></span></div>
    <div type="button" id="undoaddress" class="btn btn-default" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></div>

</div>

<!-- Text input-->
 


<!-- Select Basic -->
   


<!-- Text input-->


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">GST</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
  <input name="gst" id="gst" placeholder="Website or domain name" class="form-control" readonly="readonly" type="text" value=<%= row.gst %>>
    </div>
  </div>
  <div type="button" id="editgst" class="btn btn-default" > <span class="glyphicon glyphicon-pencil"></span></div>
    <div type="button" id="undogst" class="btn btn-default" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></div>

</div>

<!-- radio checks -->

<!-- Text area -->
  

<!-- Success message -->


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" id="submit" class="btn btn-success" >Submit <span class="glyphicon glyphicon-send"></span></button>
    <button type="submit" id="delete" class="btn btn-danger" >Delete <span class="glyphicon glyphicon-remove"></span></button>
  </div>
  
  
</div>

</fieldset>
</div>
</div>
    </div><!-- /.container -->
</body>

<script>

function undoChange(prop){
	var prevval=$("#"+prop).val();
	$("#"+prop).prop("disabled", false);
	$("#edit"+prop).hide();
	$("#undo"+prop).show();
	$("#undo"+prop).click(function(){
		$("#"+prop).val(prevval);
	});
}

$("#editname").click(function(){
    var name= $("#name")
    name.removeAttr("readonly");
    undoChange("name")

});

$("#editaddress").click(function(){
    var name= $("#address")
    name.removeAttr("readonly");
    undoChange("address")
});

$("#editemail").click(function(){
    var name= $("#email")
    name.removeAttr("readonly");
        undoChange("email")

});

$("#editcontact").click(function(){
    var name= $("#contact")
    name.removeAttr("readonly");
    undoChange("contact")

});

$("#editgst").click(function(){
    var name= $("#gst")
    name.removeAttr("readonly");
    undoChange("gst")

});


$("#submit").click(function(){
	var name=$("#name").val();
	var address=$("#address").val();
	var email=$("#email").val();
	var contact=$("#contact").val();
    var gst=$("#gst").val();
    var data={"name":name, "address":address, "email":email, "contact":contact, "gst":gst};
    
	$.ajax({
    url: window.location.href, // your api url
    // jQuery < 1.9.0 -> use type
    // jQuery >= 1.9.0 -> use method
    method: 'PUT', // method is any HTTP method
    "data":data , // data as js object
    success: function() {
        console.log("success")
    }
}).then(window.location.replace("/company/"+location.pathname.split("/")[2]));
});

$("#delete").click(function(){
	$.ajax({
    url: window.location.href, // your api url
    method: 'DELETE', // method is any HTTP method
    success: function(result) {
        console.log("success", result);
    }

}).then(window.location.replace("/company/new"))
});

</script>

</html>
